{% extends 'base.html.twig' %}


{% block body %}
    post an experience !!!


    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form action="" method="post" name="post_xp">
                <input type="text" name="name">
                <input type="text" name="techno">
                <input type="submit" class="btn btn-default">
            </form>
        </div>
    </div>
{% endblock body %}


